*, *::before , *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.chess {
	position: relative;
	&__numbers {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		
	}
	&__letters {
		position: absolute;
		bottom: -100px;
		left: 100px;
		display: flex;
		
		
	}
}
.board {
	position: relative;
	margin-left: 100px;
	width: 800px;
	border: 1px solid black;
	&__row {
		display: flex;
		&:nth-child(even) {
			.board__cell {
				&:nth-child(even) {
					background: white;

				}
			}
		}
		&:nth-child(odd) {
			.board__cell {
				
				&:nth-child(odd) {
					background: white;
				}
			}
		}
	}
	&__cell {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100px;
		height: 100px;
		background-color: 	#30D5C8;
		
	}
}
.piece {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 80px;
	background: no-repeat center center;
	background-size: 100%;
	filter: drop-shadow(0 0 2px white);
}
.id {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100px;
	border: 1px solid black;
}